/Java/PathTrav/lab-java-path-1-attack/source/target/
/Java/SQLinjections/lab-java-web-sql-1-attack/source/target/
/Java/SQLinjections/lab-java-web-sql-2-attack/source/target/
/Java/SSTI/lab-java-ssti-attack-1/source/target/
/Java/SSTI/lab-java-ssti-attack-2/source/target/
/Java/CSRF/lab-java-csrf-attack-1/deploy/source/target/
/Java/CSRF/lab-java-csrf-defense-1/deploy/bot/target/
/Java/XSS/lab-java-xss-attack-1/deploy/source/target/
